.navbar{
    background-color: #E54B16;
}
.quemsomos{
    background-color: #6C8ADE;
}
.img{
    margin-left:10px;
}
.parceiros{
    background-color: black;
}
.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}
.rodape{
    background-color: #E54B16;
}